@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "components/style";

.frontend-componenet * {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

.frontend-componenet {
  font-size: initial;
  line-height: initial;
}

.deployment-section {
  width: 100%;
  margin-bottom: 30px;
}

.deployment-status {
  background-color: white;
  border-radius: 50vw;
  padding: 5px 10px;
  margin-top: 5px;
  border: none;
  font-size: inherit;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deployment-status:active {
  opacity: 0.5;
}

.deployment-status:disabled {
  cursor: default;
}
